# Melbourne Dataset: House price prediction using Regression

In this study, we follow the **CRISP-DM (Cross-industry standard process for Data mining) technique**. This technique consists of the following steps.
1. Business understanding
2. Data understanding
3. Data Preparation
4. Modeling
5. Evaluation of results
6. Deployment

Let’s skip the first step as we already know that the business requirement is to predict the house prices of Melbourne.

**Data understanding:**

Basically, the data understanding is nothing but collecting data, checking whether data is right or not, what type of data we have, whether the available data can answer my business questions or not, and also exploring, visualizing the data by using plots, graphs charts to understand the hidden meanings in the data.
Now, we don’t have to worry much regarding the data availability Since we have chosen a dataset based on the objective to predict the house prices using regression. Although Regression is the classical prediction algorithm it’s a very powerful technique to predict based on the independent features we have.
Our data set consists of 13, 580 rows and 21 columns. Each row has information regarding the Price and Address of the house, Number of Rooms, Seller information, Bedrooms, bathrooms, car parking availability, Land Size of the house, etc.
let’s start with some business questions that we can answer from the data.
1. What is the trend of the house prices?
2. What is the highest and lowest price of a house?
3. What are the highest correlated variables to price?
4. What are the key features affecting the price of a house?

**Data Preparation:**

One of the first things we have to do is to check the missing values present in the data and treat them accordingly based on the type of data. For example, Since we have both categorical and numerical data the missing value treatment would be different.

## Data Exploration

### Imports

In [23]:
#  Importing packages
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import os
from datetime import datetime
%matplotlib inline

### Reading the datasets

In [20]:
# HOUSING_PATH = os.path.join('GitHub', 'House_Pricing_Prediction')

# def load_data (data):
#     csv_path = os.path.join(HOUSING_PATH, data)
#     return pd.read_csv(csv_path)

In [22]:
# load_data('melb_data.csv')

In [49]:
data_house = pd.read_csv('melb_data.csv')
data_house.head(1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0

In [50]:
data_house.shape  # the shape of the data

(13580, 21)

In [51]:
data_house.columns  # columns of the dataset

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [24]:
data_house.info()  # Datasets info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [53]:
data_house.describe().T  #  Dataset Descriptive Statistics (Tranposed for better Data understanding)

,count,mean,std,min,25%,50%,75%,max
Rooms,13580.0,2.937997e+00,0.955748,1.00000,2.000000,3.000000,3.000000e+00,1.000000e+01
Price,13580.0,1.075684e+06,639310.724296,85000.00000,650000.000000,903000.000000,1.330000e+06,9.000000e+06
Distance,13580.0,1.013778e+01,5.868725,0.00000,6.100000,9.200000,1.300000e+01,4.810000e+01
Postcode,13580.0,3.105302e+03,90.676964,3000.00000,3044.000000,3084.000000,3.148000e+03,3.977000e+03
Bedroom2,13580.0,2.914728e+00,0.965921,0.00000,2.000000,3.000000,3.000000e+00,2.000000e+01
Bathroom,13580.0,1.534242e+00,0.691712,0.00000,1.000000,1.000000,2.000000e+00,8.000000e+00
Car,13518.0,1.610075e+00,0.962634,0.00000,1.000000,2.000000,2.000000e+00,1.000000e+01
Landsize,13580.0,5.584161e+02,3990.669241,0.00000,177.000000,440.000000,6.510000e+02,4.330140e+05
BuildingArea,7130.0,1.519676e+02,541.014538,0.00000,93.000000,126.000000,1.740000e+02,4.451500e+04
YearBuilt,8205.0,1.964684e+03,37.273762,1196.00000,1940.000000,1970.000000,1.999000e+03,2.018000e+03
Lattitude,13580.0,-3.780920e+01,0.079260,-38.18255,-37.856822,-37.802355,-3.775640e+01,-3.740853e+01
Longtitude,13580.0,1.449952e+02,0.103916,144.43181,144.929600,145.000100,1.450583e+02,1.455264e+02
Propertycount,13580.0,7.454417e+03,4378.581772,249.00000,4380.000000,6555.000000,1.033100e+04,2.165000e+04

## Data Cleaning

In [65]:
# Created a function to calculate the percentage of missing data in the dataset
def percent_missing(data):
    total_cells = np.product(data.shape)
    missing = data.isnull().sum()
    total_missing = missing.sum()
    percent_val = (total_missing/total_cells) * 100
    return percent_val

In [64]:
percent_missing(data_house)

4.648292306613367

In [34]:
missing = [features for features in data_house.columns if data_house[features].isnull().sum()]
missing

['Car', 'BuildingArea', 'YearBuilt', 'CouncilArea']

In [55]:
for fts in missing:
    global mode
    mode = data_house[fts].mode()
    print(f'{fts} ---------- {mode[0]}')

Car ---------- 2.0
BuildingArea ---------- 120.0
YearBuilt ---------- 1970.0
CouncilArea ---------- Moreland

In [33]:
for features in data_house.columns:
    if data_house[features].isnull().sum():
        print (f'{features}------------------{data_house[features].isnull().sum()}')

Car------------------62
BuildingArea------------------6450
YearBuilt------------------5375
CouncilArea------------------1369

In [ ]:
# Clear the car coloumn missing values
car_mean = data_house['Car']
car_miss = car_mean.isnull().sum()
car_m = car_mean.mean()
print ('There are {} missing Value in this coloumn'.format(car_miss))
print('The mean of this coloumn is {}.'.format(round(car_m, 0)))
car_mean.fillna(2.0, inplace=True)

In [ ]:
# clearing the building area missing values
ba_mean = data_house['BuildingArea']
ba_miss = ba_mean.isnull().sum()
ba_m = ba_mean.mean()
print ('There are {} missing Value in this coloumn'.format(ba_miss))
print ('The mean of this coloumn is {}.'.format(round(ba_m, 0)))
ba_mean.fillna(round(ba_m, 0), inplace=True)

In [ ]:
# clearing the council area coloumn
ca = data_house['CouncilArea']
ca_miss = ca.isna().sum()
print ('There are {} missing Value in this coloumn'.format(ca_miss))

In [ ]:
data_house.dropna(subset=['CouncilArea'], inplace=True)

In [ ]:
data_house.sort_values('YearBuilt', ascending=True)

In [ ]:
data_house.groupby('YearBuilt').mean()

In [ ]:
data_house['Price'].astype('int64').dtype

In [ ]:
data_house.dtypes

In [32]:
int32 = ['Postcode', 'Bedroom2', 'Bathroom', 'Car', 'YearBuilt']
data_house = data_house[int32].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

## Data Preprocessing

Data preprocessing is an important part of any task and it major use is to present us with data we can work with, visualise or present to ML algorithms for better accuarcy